.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    background: #44475a;
    width: 100%;

    position: relative;
    padding: 1rem;
}

.header h1 {
    position: absolute;
}

.header nav {
    margin-left: auto;
}
